# RAG Data
data/*
chroma_data
temp*/
history/*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Windows
Thumbs.db

# Project
out

# ENV
.env

# Local
Local
.aider*
.cursorrules
.cursor/*

# Python
__pycache__
*.pyc
*.pyo
.venv

# node
node_modules

# Deprecated frontend
frontend_backup/
chat-app_backup/